<div class="row">
  <div class="alert alert-warning" ng-show="user && !user.value.history.migration" style="margin-bottom: 0;">
    <button type="button" class="close" style="top:-20px;" data-dismiss="alert" ng-click="dismiss('migration')">&times</button>
    ReviewNinja is no longer being actively developed. We recommend switching to GitHub's pull request reviews. See our <a href="https://github.com/reviewninja/review.ninja/issues/1132" target="_blank">migration guide</a> for advice and tips.
  </div>
</div>

<div class="row">
  <onboard></onboard>
</div>

<section ui-view></section>
